.bg_body {
    /* background: linear-gradient(135deg, #2f4cdd 0%, #2c0e36 100%) !important; */
    /* background:linear-gradient(90deg, rgba(27,63,109,1) 28%, rgba(5,143,198,1) 95%)!important; */
    /* background:linear-gradient(90deg, rgba(27,63,109,1) 28%, rgba(5,143,198,1) 95%)!important; */
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    /* background-color: #076ca9;
background-image: linear-gradient(160deg, #076ca9 0%, #15a39a 100%); */
    background-color: #1c3865;
    background-image: linear-gradient(160deg, #1c3865 0%, #0096d1 100%);


    /* background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% ); */
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */

    /* background: linear-gradient(90deg, rgba(27,63,109,1) 1%, rgba(5,143,198,1) 60%) !important; */
}

.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
    border-right: 1px solid rgb(255 255 255 / 80%) !important;
}

i.fas.fa-bars {
    color: #ffff;
}

.card {
    background-color: #1c3865;
    background-image: linear-gradient(160deg, #1c3865 0%, #0096d1 100%) !important;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 7%) !important;
}

thead {
    /* background-color: black !important; */
    background-color: #0093E9;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

}

table {
    border-radius: 5px !important;
}

/* thead {
    background: background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
} */

/* background: background-color: #0093E9;
 background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */


/* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
/* background-image: linear-gradient(to right, #434343 0%, black 100%); */
/* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); */
/* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
/* border-radius: 26px; */
